<% content_for :title do %>
  All Snippets
<% end %>
<% content_for :subtext do %>
  For your pleasure
<% end %>


<% if @snippets.any? %>
  <div class="ui grid gallery">
    <div class="three column row">
      <%= render @snippets %>
    </div>
  </div>
<% else %>
  <div class="ui raised segment">
    <%= t(:"snippets.none") %>
    <%= link_to "Create a new one", new_snippet_path %>
  </div>
<% end %>
