<% content_for :title do %>
  Create a Snippet!
<% end %>
<% content_for :subtext do %>
  *Approval may take up to 24 hours. You can edit your snippet at any time.
<% end %>

<div class="form-wrap card">
  <%= render "form" %>
</div>