<% content_for :title do %>
  Create a Snippet!
<% end %>
<% content_for :subtext do %>
  Please only submit quality code snippets that others will find useful. We may remove a snippet at any time.
<% end %>

<div class="form-wrap card">
  <%= render "form" %>
</div>