<%= render partial: 'layouts/subnav' %>

<% if @themes.any? %>
  <div class="ui grid gallery">
    <div class="two column row">
      <%= render partial: "shared/theme", collection: @themes %>
    </div>
  </div>
<% else %>
  <div class="ui raised segment">
    <%= t(:"themes.none_approved") %>
  </div>
<% end %>
