<% content_for :subheader do %>
  <div class="subheader">
    <div class="container">
      <h3 class="ui red header">
        All Themes Semantic
        <div class="sub header">This is some text</div>
      </h3>
    </div>
  </div>
<% end %>

<%= render partial: 'layouts/subnav' %>

<div class="ui grid gallery">
  <div class="two column row">
    <%= render partial: "shared/theme", collection: @themes %>
  </div>
</div>