<% content_for :title do %>
  Submit a theme
<% end %>
<% content_for :subtext do %>
  and stack that cheese
<% end %>

<div class="form-wrap card">
  <h2 class="ui center aligned icon header">
    <div class="content">Here's the deal
      <p class="sub header">We like to keep things simple. Sell a theme with us and keep 70% of your sale no matter what. 10% of our profits go to the Semantic UI team to show our love. <a href="#">Learn more</a></p>
    </div>
  </h2>

  <div class="ui horizontal divider">
    <i class="circular angle down icon"></i>
  </div>

  <%= render "form" %>
</div>