<% content_for :title do %>
  All Users (<%= @users.count %>)
<% end %>

<hr class="ui divider hidden">

<div class="ui items">
  <% @users.each do |f| %>
    <%= link_to f.username, user_path(f) %> | <%= f.created_at.strftime("%m/%d/%Y") %> |
    <%= link_to "delete", user_path(f), method: "delete", data: { confirm: "Sure?" } %><br>
  <% end %>
</div>