<div class="ui vertical inverted black footer segment">
  <div class="container">
    <div class="ui stackable inverted divided relaxed grid">
      <div class="three wide column">
        <h5 class="ui blue inverted header">Themes</h5>
        <div class="ui inverted link list">
          <a class="item">View all themes</a>
          <a class="item">Sell a theme</a>
          <a class="item disabled">FAQ</a>
        </div>
      </div>
      <div class="three wide column">
        <h5 class="ui orange inverted header">Snippets</h5>
        <div class="ui inverted link list">
          <a class="item">View snippets </a>
          <a class="item">Create a snippet</a>
          <a class="disabled item">Privacy Policy</a>
        </div>
      </div>
      <div class="three wide column">
        <h5 class="ui green inverted header">Expo</h5>
        <div class="ui inverted link list">
          <a class="item">Made with Semantic</a>
          <a class="item">Submit a Site</a>
          <a class="disabled item">Help</a>
        </div>
      </div>
      <div class="six wide column">
        <h3 class="ui inverted header">Semantic Kit</h3>
        <p></p>
        <p>made with <i class="heart icon"></i> in dc &amp; nyc.</p>
        <p>&copy; <%= Time.now.year %> SemanticKitCo</p>
      </div>
    </div>
  </div>
</div>