<div class="subheader">
  <div class="container">
    <div class="right-content">
      <%= yield :right_content %>
    </div>

    <h3 class="ui header inverted">
      <%= yield :title %>
      <div class="sub header">
        <%= yield :subtext %>
      </div>
    </h3>
  </div>
</div>