<p>Hey there,</p>
<p>Thanks for purchasing a theme from SemanticKit! You can download <%= @theme.name %> here:</p>
<p><%= theme_url(@theme, token: @token) %></p>
<p><b>Please note:</b> You will only have 5 downloads total before this link expires.</p>
<br>
<p>-SemanticKit</p>
<p><a href="https://twitter.com/SemanticKit">@SemanticKit</a></p>