Hey <%= @user.username %>,

Thanks for purchasing a theme from SemanticKit! You can download <%= @theme.name %> here:

<%= theme_url(@theme) %>

-SemanticKit
<a href="https://twitter.com/SemanticKit">@SemanticKit</a>