/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import "globals";

.container {
  width: 1020px;
  margin: 0 auto;
  padding: 1.5em;
  @include respond-to(tablet) {
    width: 80%;
  }
  @include respond-to(smartphone) {
    width: 100%;
  }
}

body {
  background: #444349; //image_url('stardust.png') --- maybe use this
}