/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import "globals";

.container {
  width: 1020px;
  margin: 0 auto;
  padding: 1.5em;
  @include respond-to(tablet) {
    width: 80%;
  }
  @include respond-to(smartphone) {
    width: 100%;
  }
}

body {
  background: #444349; //image_url('stardust.png');
  margin: 0;
  padding: 0;
}

.hero.message {
  padding: 0 2em 2em 2em;
  border: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5em;
    line-height: 1em;
    text-shadow: 1px 1px 1px #222;
  }

  p {
    font-weight: 300;
  }
}

.gallery {
  &.grid { margin: 0; }

  .two.column.row > .column {
    margin-bottom: 2%;
    width: 49% !important;
    background: rgba(50,50,50,0.5);
    padding-bottom: 1em;

    &:nth-of-type(odd) { margin-right: 2%;}
  }

  h3 {
    margin: 0.5em 0;
  }

  img {
    width: 100%;
  }
}

.ui.menu { margin: 2rem 0;}
