/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "semantic-ui";
@import "globals";
@import "themes";
@import "landing";
@import "snippets";
@import "user";

.container {
  width: 980px;
  margin: 0 auto;
  @include respond-to(tablet) {
    width: 80%;
  }
  @include respond-to(smartphone) {
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;

  p {
    color: #666666;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

//STICKY FOOTER

html, body {
  height: 100%;
}
.sticky-footer-wrapper {
  min-height: 100%;
  margin: 0 auto -188px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 188px; /* '.push' must be the same height as 'footer' */
  @include respond-to(tablet) {
    height: auto;
  }
  @include respond-to(smartphone) {
    height: auto;
  }
}


.ui.inverted.black.footer {
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 0 !important;
  background-color: #2f3238 !important;
}



.hero.message {
  padding: 0 4em 2em 4em;
  text-align: center;
  margin: 8em auto 14em auto;

  h1 {
    font-size: 3em;
    line-height: 2em;
    text-shadow: 0px 0px 35px #111;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 30px;
    border-bottom: 1px solid #404040;
    background: rgba(105, 137, 181, 0.5);
  }

  p {
    font-weight: 300;
    color: #a6a6a6;
  }
}

.price-point {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0em;
  display: inline-block;
  color: #D95C5C;
}


.ui.menu.secondary {
  margin: 0.5rem 0 1rem 0;
  display: block;
}

.ui.sub.secondary.pointing.menu {
  margin: 2rem 0 2.5rem 0;
}

.hero-backdrop {
  background: #444349;
  position: absolute;
  height: 45rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index:-1;
}
.subheader {
  width: 100%;
  background: $darkness;
  height: 140px;
  padding-top: 30px;
  h2.ui.header {
    vertical-align: top;
    margin-top: 0;
    display: inline-block;
    font-size: 2.7rem;
    font-weight: normal;
  }
}

.snippets .subheader {
  background: $orange;
  .ui.inverted.header .sub.header {
    color: lighten($orange, 18%);
  }
}

.themes .subheader, .categories .subheader {
  background: $blue;
  .ui.inverted.header .sub.header {
    color: lighten($blue, 30%);
  }
}

.expo .subheader {
  background: $green;
  .ui.inverted.header .sub.header {
    color: lighten($green, 30%);
  }
}

.card {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-top: 0;
}

.ui.segment {
  background: #f2f2f2;
}

.ui.item-show {
  background: #f2f2f2;
  p {
    line-height: 1.5em;
    font-size: 0.9em;
    font-size: 18px;
    font-weight: 300;
  }
}

.secondary-text {
  margin-left: 10px;
}

.users .ui.items .item {
  width: 200px;
  height: auto;
  min-height: 20px;
}


.why-us {
  margin: 100px 0;
  width: 47.5%;
  display: inline-block;
  background: $gray_green;
  text-align: center;
  margin-right: 4%;
  padding: 15px;
  &:last-child {
    margin-right: 0;
  }

  & > div {
    border: 4px solid #fff;
    padding: 10px 0 20px 0;
  }

  h2 {
    font-size: 40px;
    margin: 10px auto 20px auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: lighten($gray_green, 15%);
  }

  ul, li {
    display: block;
    color: #fff;
    padding-bottom: 5px;
  }
}

.right-content {
  float: right;
}

.ui.tabular.menu .active.item:first-child {
  background: #f7f7f7;
  border-bottom: 1px solid transparent;
}

.terms-privacy {
  color: lighten($darkness, 13%);
  &:hover { color: lighten($darkness, 10%);}
}