// Responsiveness

$break-small: 320px;
$break-medium: 600px;
$break-large: 1020px;

@mixin respond-to($media) {
  @if $media == smartphone {
    @media screen and (min-width: $break-small) and (max-width: $break-medium) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
  }
}

// Resets & Fonts

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  color: #08c;
  text-decoration: none;
}

//Overrides

.nav.menu {
  border-radius: 0;
  margin-bottom: 0;
  .item {
    padding: 1.5em;
    font-weight: 500;
  }
  .sub .item {
    padding: 1em 1.5em;
  }
}