// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrap {
  padding: 50px;
  .content {
    text-shadow: 1px 1px 1px #fff;

    .sub.header {
      font-weight: 500;
      margin-top: 0.5em;
    }
  }

  select {
    width: 15em;
    font-size: 1em;
  }

  .image-arena {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 2em;
    border: 1px dashed #ddd;
    border-radius: 0.7em;
    font-size: 1em;
    color: #ddd;
  }
}