// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrap {
  background: rgba(255,255,255,0.1);
  padding: 2em 10em;
  border-radius: 5px;
  box-shadow: inset 0 0 0.3em #222;

  .content {
    text-shadow: 1px 1px 1px #222;

    .sub.header {
      font-weight: 300;
      margin-top: 0.5em;
    }
  }

  select {
    width: 15em;
    font-size: 1em;
  }

  .image-arena {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 2em;
    border: 1px dashed #ddd;
    border-radius: 0.7em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #ddd;
  }
}