// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrap {
  padding: 50px;
  margin-bottom: 50px;
  .content {
    text-shadow: 1px 1px 1px #fff;

    .sub.header {
      font-weight: 500;
      max-width: 600px;
      margin: 10px auto 20px auto;
    }
  }

  select {
    width: 15em;
    font-size: 1em;
  }

  .image-arena {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 2em;
    border: 1px dashed #ddd;
    border-radius: 0.7em;
    font-size: 1em;
    color: #ddd;
  }
}

.themes {
  .ui.card {
    height: 340px;
    a.image {
      height: 275px;
      overflow: hidden;
    }

    .content {
      vertical-align: bottom;
      border-top: 1px solid #e9e9e9;
    }
  }

  .buy-button {
    position: relative;
  }

  .ui.tag.labels .label {
    margin-bottom: 0;
  }
}