<% content_for :title do %>
  Submit a site
<% end %>
<% content_for :subtext do %>
  We will only feature sites that are built with Semantic UI. Please allow some time for approval.
<% end %>

<div class="form-wrap card">
  <%= render "form" %>
</div>