<%= render partial: 'layouts/subnav' %>

<div class="ui grid gallery">
  <div class="two column row">
    <% if @category.themes.approved.any? %>
      <%= render partial: "shared/theme", collection: @category.themes.approved %>
    <% else %>
      <%= t(:"categories.no_approved_themes", name: @category.name) %>
    <% end %>
  </div>
</div>