<%= render partial: 'layouts/subnav' %>

<% if @category.themes.approved.any? %>
  <div class="ui grid gallery">
    <div class="two column row">
      <%= render partial: "shared/theme", collection: @category.themes.approved %>
    </div>
  </div>
<% else %>
  <div class="ui raised segment">
    <p><%= t(:"categories.no_approved_themes", name: @category.name) %></p>
  </div>
<% end %>