<% content_for :title do %>
  <%= "Hi, #{current_user.username}!" %>
<% end %>
<% content_for :subtext do %>
  Get your Admin on
<% end %>

<% if @themes %>
  <h2>Themes</h2>
  <table class="ui table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Status</th>
        <th>Submitted on</th>
        <!-- <th>Meets Criteria</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "admin/dashboards/theme", collection: @themes %>
    </tbody>
  </table>
<% end %>

<% if @expos %>
  <h2>Expo Submissions</h2>
  <table class="ui table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Submitted by</th>
        <th>Status</th>
        <th>Submitted on</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "admin/dashboards/expo", collection: @expos %>
    </tbody>
  </table>
<% end %>