<div class="ui grid gallery">
  <div class="two column row">
    <% if @themes.any? %>
      <%= render partial: "shared/theme", collection: @themes %>
    <% else %>
      <p>There are no pending themes.</p>
    <% end %>
  </div>
</div>