<% content_for :title do %>
  About
<% end %>

<div class="ui divider hidden"></div>

<p>Whether it's by selling a theme, creating a snippet, or listing a site they built, creators use SemanticKit to showcase the work they did using the exciting new Semantic UI framework.</p>

<h4>Who We Are</h4>

<div class="ui basic segment">
  <img class="ui tiny rounded left floated image" src="https://pbs.twimg.com/profile_images/499557788524105728/NLRz0OlY_400x400.jpeg">
  <p>Will Wallace</p>
  <p><a href="https://twitter.com/WillEWallace"><i class="large twitter link icon"></i></a></p>
</div>

<div class="ui basic segment">
  <img class="ui tiny rounded left floated image" src="https://pbs.twimg.com/profile_images/432870418/Screen_shot_2009-09-23_at_11.39.35_PM.jpg">
  <p>Travis Valentine</p>
  <p><a href="https://twitter.com/travisvalentine"><i class="large twitter link icon"></i></a></p>
</div>

<h4>Thanks</h4>

<p>SemanticKit would not be possible without <a href="https://github.com/jlukic">Jack Lukic</a> and the <a href="https://github.com/Semantic-Org/Semantic-UI/graphs/contributors">many contributors</a> behind Semantic UI.</p>
