<% content_for :title do %>
  Frequently Asked Questions
<% end %>

<div class="ui divider hidden"></div>
<div class="ui accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
    How do you have "frequently" asked questions if your site just launched?
  </div>
  <div class="active content">
    <p>That's probably the only valid question at this point. Ask us one so we can get started?</p>
  </div>
</div>

<% content_for :javascripts do %>
  <script type='text/javascript' src='http://www.freesurveycreator.com/embeds/589.js'></script>
<% end %>