<% content_for :title do %>
  Frequently Asked Questions
<% end %>

<div class="ui divider hidden"></div>
<div class="ui accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
    Is Semantic UI really semantic?
  </div>
  <div class="active content">
    <p>This discussion can get heated quickly, but the creator said it best: "Semantic doesn't refer to the misappropriation of the word 'semantic' by developers as 'adherence to W3C specification', but instead a reference to linguistic semantics, particularly Montague grammar and compositionality.</p>
    <p>This is not a topic that you can very easily introduce, so mostly I prefer to convince others of the library's usefulness rather than getting into a philosophical debate nobody enjoys (or benefits from) about 'the nature of meaning'."</p>
  </div>
</div>

<div class="ui section divider hidden"></div>

<h3>Still got questions? <a href="mailto:help@semantickit.com">Drop us a line</a></h3>