<div class="hero">
  <% if flash[:notice] %>
    <div class="container">
      <p id="notice" class="ui yellow message" style="margin-top: 0;z-index:1;"><%= flash[:notice] %></p>
    </div>
  <% end %>
  <i class="grid-left"></i>
  <i class="grid-right"></i>
  <h1 class="headline">Semantic UI Resources</h1>
  <span class="subheadline">everything you need, in one place</span>
  <div class="container">
    <a href="/themes" class="one-third">
      <h3>Themes</h3>
      <span class="call-out">Buy and sell Semantic UI themes</span>
    </a><!--
 --><a href="/snippets" class="one-third">
      <h3>Snippets</h3>
      <span class="call-out">Create and share pieces of code</span>
    </a><!--
 --><a href="#" class="one-third">
      <h3>Expo</h3>
      <span class="call-out">Beautiful sites built with Semantic UI</span>
    </a>
  </div>
</div>

<div class="more-info top-20">
  <div class="container">
    <div class="ui one column grid">
      <div class="column">
        <h2 class="ui center aligned header" style="font-size: 40px;">Why Semantic UI?</h2>
      </div>
    </div>
    <div class="ui two column grid">
      <div class="column ico-holder">
        <!-- <i class="icon checkmark massive"></i> -->
      </div>
      <div class="column">
        <h2>Ease of Use</h2>
        <p>Semantic UI allows you to jump right in and makes rapid prototyping a breeze.</p>
      </div>
    </div>
    <div class="ui two column grid">
      <div class="column">
        <h2>Get more, right out of the box</h2>
        <p style="width: 390px;">Get the essentials that every other front-end framework provides and then some: Cards, comments, statistics and more.</p>
      </div>
      <div class="column ico-holder">
        <!-- <i class="icon travel massive"></i> -->
      </div>
    </div>
    <div class="ui two column grid">
      <div class="column ico-holder">
        <!-- <i class="icon laptop massive"></i> -->
      </div>
      <div class="column">
        <h2>Gorgeous design</h2>
        <p>Differentiate yourself and your project with a design that can be reworked, but doesn't have to be.
      </div>
    </div>
    <div class="ui one column grid">
      <div class="column">
        <h2 class="ui center aligned header top-20">
          <a href="http://learnsemantic.com/" target="_blank" class="ui button blue huge top-20">Learn more about getting started &raquo;</a>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="email-social">
  <div class="container">
    <label for="email_collect" class="email-collect">
      Get a peek at new themes, delivered to your inbox each week.
    </label>
    <form class="ui form">
        <div class="field">
          <div class="ui huge input" style="text-align: center;">
            <input type="text" placeholder="E-mail" data-validate="email" name="EMAIL" style="width: 50%;">
            <button class="ui huge black submit button" type="submit">
              Sign-up
            </button>
          </div>
        </div>
      </form>
  </div>
</div>