<%= render 'layouts/subnav' %>

<div class="ui large icon inverted message hero">
  <div class="content">
    <h1>All Themes Semantic</h1>
    <p>Differentiate yourself and your design with a Semantic UI theme or template. Semantic UI is an easy to use front-end framework with its own style and purpose. Learn more <a href="http://www.semantic-ui.com">here.</a> </p>
    <%= link_to themes_path, class: "ui animated button green" do %>
      <div class="visible content">View all Themes</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    <% end %>
    <span class="secondary-text"> or <%= link_to "sell your themes", new_theme_path %></span>
  </div>
</div>

<div class="ui grid gallery">
  <div class="two column row">
    <%= render partial: "shared/theme", collection: @themes %>
    adfadf
  </div>
</div>