<div class="ui huge icon message">
  <i class="bolt icon"></i>
  <div class="content">
    <div class="header">
      Semantic UI Themes &amp; Templates
    </div>
    <p>Differentiate yourself with a new, well designed UI framework</p>
    <div class="ui animated button green">
      <div class="visible content">Learn More</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="eight wide column">
    <div class="ui segment inverted">
      <h3>Theme name</h3>
      <img src="https://d85wutc1n854v.cloudfront.net/live/products/icons/WB02N6L1H.jpg?v=1.0">
    </div>
    <div class="ui segment inverted">
      test panel
    </div>
    <div class="ui segment inverted">
      test panel
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui segment">
      test panel
    </div>
    <div class="ui segment">
      test panel
    </div>
    <div class="ui segment">
      <h3>Awesome Theme</h3>
      <img src="https://d85wutc1n854v.cloudfront.net/live/products/icons/WB02N6L1H.jpg?v=1.0">
    </div>
  </div>
</div>