<% content_for :title do %>
  How it works
<% end %>
<% content_for :subtext do %>
  Semantic Kit is the best place to sell your Semantic UI Themes &amp; Templates. Here's why.
<% end %>

<div class="ui two column very relaxed stackable grid top-20">
  <div class="row">
    <div class="column">
      <div class="content">
        <div class="ui header"><i class="green check icon"></i>The Best Payment Rates</div>
        <p>No confusing sliding scale here. We like to keep things easy, so for each Semantic UI theme you sell, you take home 70%. We also kick back a percentage of our profits to the Semantic team for doing what they do.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="ui header"><i class="green check icon"></i>Sell with whomever you want</div>
        <p>Many marketplaces have low payment rates unless you sell exclusively with them. We do not require that you sell your Semantic UI themes exclusively with us. Healthy competition helps everyone in the long run.</p>
      </div>
    </div>
  </div>
<div class="row">
    <div class="column">
      <div class="content">
        <div class="ui header"><i class="green check icon"></i>We stay on top of things</div>
        <p>Your Semantic UI theme or template will be given the green light within 24 hours if it meets the community standards. If not, we'll let you know why so you can get up and running as soon as possible. </p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="ui header"><i class="green check icon"></i>Get Paid each month (info here ab STRIPE)</div>
        <p>You will be paid each month based on the previous month's sales. Whether you sell 1 or 1000 themes, you'll get your dough.</p>
      </div>
    </div>
  </div>
</div>
<div class="ui center aligned segment top-20">
  <%= link_to "Start Selling Now", new_theme_path, class: "ui button massive green top-20 bottom-20" %>
</div>
<div class="ui section divider"></div>

<h3>Still got questions? <a href="#">Check out our FAQ or submit a help ticket.</a></h3>


