<div class="ui tiered menu">
  <div class="container">
    <%= link_to root_path, :class => 'item' do %>
      Semantic Themes
    <% end %>
    <div class="right menu">
      <div class="ui dropdown item">
        User<i class="icon dropdown"></i>
        <div class="menu">
          <a class="item"><i class="browser icon"></i>View Dashboard</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a>
          <a class="item"><i class="edit icon"></i>Edit Profile</a>
          <a class="item"><i class="forward mail icon"></i>Log out</a>
        </div>
      </div>
      <a class="item">Help</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="ui sub inverted secondary pointing menu">
    <a class="active item">All</a>
    <a class="item">Admin / Dashboard</a>
    <a class="item">Corporate</a>
    <a class="item">Portfolio</a>
    <a class="item">Resume</a>
    <a class="item">Landing Page</a>
    <a class="item">E-commerce</a>
    <a class="item">Blog</a>
    <a class="item">Components</a>
  </div>
</div>

