<div class="ui tiered menu">
  <div class="container">
    <%= link_to root_path, :class => 'item' do %>
      Semantic Themes
    <% end %>
    <div class="right menu">
      <div class="ui dropdown item">
        User<i class="icon dropdown"></i>
        <div class="menu">
          <a class="item"><i class="browser icon"></i>View Dashboard</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a>
          <a class="item"><i class="edit icon"></i>Edit Profile</a>
          <a class="item"><i class="forward mail icon"></i>Log out</a>
        </div>
      </div>
    </div>
  </div>
</div>