<div class="ui sub secondary pointing menu">
  <%= nav_link "All", themes_path %>
  <% Category.order(:name).each do |category| %>
    <%= nav_link category.name, category_path(category) %>
  <% end %>
</div>
